<!DOCTYPE html>
<html ng-app="portfolio" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Simtechmedia - Build in AngularJS</title>
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/flexcrollstyles.css">
  <link rel="stylesheet" href="stylesheets/jcapstyle.css">
  <link rel="stylesheet" href="stylesheets/angular-ui.css">
  <link rel="stylesheet" href="stylesheets/app.css">
</head>
<body>
<div id="container">
    <div id="content">
        <div id="header">
            <img src="images/logo.png" align="right"/>
        </div>
        <div id="menuCol" ng-controller="PortListCtrl">
            <div class="menuheader">
                <p>MENU</p>
            </div>
            <div class="portitems">
                <div class="portitem" ng-repeat="staticpage in staticPages" ng-class="{poritemOn : spisSelected(staticpage)}">
                    <a href="#" ng-mouseenter="sphighLight(staticpage)" ng-mouseleave="spunhighlight()">{{staticpage.name}}</a>
                </div>
            </div>

            <div class="menuheader">
                <p>PORTFOLIO</p>
            </div>

            <div class="portitems">
                <div class="portitem" ng-repeat="portitem in portitems" ng-class="{poritemOn : isSelected(portitem)}">
                    <a href="#/portitem/{{portitem.projectid}}" ng-mouseenter="highLight(portitem)" ng-mouseleave="unhighlight()">{{portitem.name}} '{{portitem.projdate.substring(2, 4)}}</a>
                </div>
            </div>
        </div>
        <ng-view></ng-view>
        <script type="text/ng-template" id="frontitems.html" ng-controller="PortFrontCtrl">
            <div class="rightCol">
                <ul class="frontitems">
                    <li ng-repeat="frontitem in frontitems">
                        <frontitem></frontitem>
                    </li>
                </ul>
            </div>
        </script>
        <script type="text/ng-template" id="frontitem.html">
            <div class="rightCol">
                <div class="fullImageHolder">
                    <div class="fullImageHolderInner">
                        <div ng-repeat="image in imagesdata">
                            <img src="images/{{image.picurl}}">
                        </div>
                    </div>
                    <div class="fullImageHolderMenu">
                        <div ng-repeat="image in imagesdata" class="imageselect">
                        </div>
                    </div>
                </div>
                <div class="fullinfo">
                    <div class="fullinforight">
                        <h2>Methodoligies</h2>
                    </div>
                    <h2>{{data[0].name}}</h2>
                    <p ng-bind-html="htmlinfo"></p>

                </div>
            </div>
        </script>
    </div>
</div>
  <script src="javascripts/vendor/angular.min.js"></script>
  <script src="javascripts/vendor/angular-sanitize.js"></script>
  <script src="javascripts/vendor/flexcroll.js"></script>
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/vendor/jquery.capSlide.js"></script>
  <script src="javascripts/angular-ui.js"></script>
  <script src="javascripts/app.js"></script>
<div id='flexcroll-init'></div>
</body>
</html>
